{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center text-white">Login</h2>
            <form method="POST">
                {% csrf_token %}
                
                <!-- Email or Username Field -->
                <div class="form-group">
                    <label for="id_username" class="text-white">Email or Username</label>
                    {{ form.username|add_class:"form-control" }}
                    {% if form.username.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.username.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                

                <!-- Password Field -->
                <div class="form-group">
                    <label for="id_password" class="text-white">Password</label>
                    {{ form.password|add_class:"form-control" }}
                    {% if form.password.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.password.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <!-- Login Button -->
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
                </div>

                <!-- Forgot Password Link -->
                <div class="text-center mt-3">
                    <a href="{% url 'password_reset' %}" class="text-white">Forgot your password?</a>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
